.Home {
  display: flex;
}

.Aside {
  display: flex;
  flex-direction: column;
}

.SearchBar {
  border: 5px solid red;
  text-align: center;
}

.ProductList {
  border: 5px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.Card {
  border: 5px solid black;
  font-size: 14px;
  margin: 15px;
  position: relative;
  text-align: center;
  width: 200px;
}

.Categories {
  border: 5px solid green;
}

.Shop {
  display: none;
}

.SarchBar {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
