.Home {
  display: flex;
}

.Aside {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.SearchBar {
  border: 5px solid red;
  height: 25%;
  text-align: center;
}

.ProductList {
  border: 5px solid blue;
  height: 75%;
  text-align: center;
}

.Categories {
  border: 5px solid green;
  width: 25%;
}

.Shop {
  text-align: center;
}

.SarchBar {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
