.Home {
  display: flex;
  margin: 1%;
}

.Aside {
  display: flex;
  flex-direction: column;
}



.ProductList {
  border: 2px;
  flex-wrap: wrap;
  height: 750px;
  text-align: center;
  width: 1000px;
  
}

.Card {

  border: 1px solid black;
  display: inline-block;
  font-size: 12px;
  margin:10px;
  padding-top: 20px;
  text-align: center;
  width: 200px;

}

.Categories {
  border: 1px solid black;
  width: 250px;
}

.Shop {
  display: none;
}

.SarchBar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.InputClass {
  border-radius: 10px;
  margin: 0 10px;
  outline: 0;
  width: 80%;
}
